[run]
# Указываем, какие каталоги и файлы нужно полностью исключить из анализа
omit =
    # Исключаем все папки migrations и management в любом месте проекта
    */migrations/*
    */management/*
    */templatetags/*

    # Исключаем виртуальное окружение
    .venv/*
    venv/*

    # Исключаем стандартные кэши Python
    *__pycache__/*

    # Исключаем папку самого pytest (не обязательно для покрытия, но полезно)
    .pytest_cache/*

[html]
# (Опционально) Настройки для HTML-отчета
directory = htmlcov